

body {
	background-color: #FFFFFF;
	background-image: url("./../img/background.png");
	color: #555;
}

.info {
	border-color: blue !important;
}

.reveal.nujii h1, .reveal.nujii h2, .reveal.nujii h3, .reveal.nujii h4 {
	color: black;
}

::selection {
	background: #225482;
	color: white;
}

.reveal.nujii a,
.reveal.nujii a:hover,
.reveal.nujii .controls a.enabled {
	color: #225482;
}

.reveal.nujii .progress {
	height: 5px;
}

.reveal.nujii .progress span {
	background: #225482;
}

.reveal.nujii a.image:hover img {
	border-color: #225482;
}